$z-level-1:                                        1;
$z-level-2:                                        2;
$z-level-3:                                        3;
$z-level-4:                                        4;
$z-level-5:                                        5;



$font-family-default:                              -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$text-color:                                       #1F2532;
$font-size-base:                                   14px;
$font-weight-light:                                300;
$font-weight-regular:                              400;
$font-weight-semibold:                             600;
$font-weight-bold:                                 700;
$line-height-default:                              1.5;

$white:                                            #ffffff;
$background-default:                               #f5f7f9;
$border-default:                                   darken($background-default, 5%);
$transparency-default:                             .992;


$link-color:                                       #1E71CD;
$link-color-hover:                                 #063D7A;



$horizontal-padding:                               25px;